<p>
  <strong>Tags:</strong>
  <%= @tag.name %>
</p>

<%= link_to 'Delete', tag_path(@tag), method: :delete,
                                      data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', tags_path %>